<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top mb-4">
        <div class="container-fluid d-flex justify-content-center align-items-center text-secondary">
            <h3>Welcome To Shopping Webiste</h3>
        </div>
    </div>
    <hr />

    @RenderSection("scripts", required: false)

    <div class="container body-content">
        <div class="row">

        @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap5.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("Script", required: false)
</body>
</html>