@model IEnumerable<ShoppingWebsite.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}


@foreach (var item in Model)
{
    <div class="card col-4 m-2 " style="width:18rem; height:255px; background-color:antiquewhite">
        <div class="card-body d-flex justify-content-center align-items-center flex-column">
            <div id="@item.ProductId" onclick="">
                <h2>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </h2>
                <p>Price: @Html.DisplayFor(modelItem => item.Price)</p>
             <a class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>

}

